<div class="container">
  <p>
  <strong>User:</strong>
  <%= @cart.user_id %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @cart.purchase_completed %>
</p>

<!-- <## @cart.cart_items.each do |item| %>
<div class="cartRow">
  <p>Item: <#= item.product.name %></p> |
  <p>Quantity: <# item.quantity %></p>
  <p><## link_to "Add", add_path( item.product ), remote: true %></p>
  <p><## link_to "Remove", remove_path( item.product ), remote: true %></p> |
  <p>Price: <## number_to_currency ( item.product.price )*item.quantity %></p> |
  <## link_to "Delete", item, method: :delete, data: { confirm: "Are you sure?" }  %>

</div> -->

<div class="items"></div>
<!-- <%# end %> -->
<%= link_to "Clear cart", clear_path, data: { confirm: 'Are you sure you want to remove all items?' } %>
<%= link_to "Pay now", payment_path( @cart ) %>

</div>


<script type="text/javascript">

var cartID = <%= params["id"] %>

var addItem = function( id ){
  $.ajax({
    url: "/carts/add_item/" + id ,
    data: {
      user_id: <%= @current_user.id %>
    },
    dataType: "JSON",
    method: 'post',
    async: false,
    success: function( data ){
      // debugger
      // console.log(data)
      getCart( cartID )
    }
  })//.success( getCart( cartID ) );
}

var removeItem = function( id ){
  $.ajax({
    url: "/carts/remove_item/" + id ,
    data: {
      user_id: <%= @current_user.id %>
    },
    dataType: "JSON",
    method: 'post',
    async: false
  }).success( function( data ){
    // console.log(data)
    getCart( cartID )
  } );
}

var deleteItem = function( id ){
  $.ajax({
    url: "/carts/delete_item/" + id ,
    data: {
      user_id: <%= @current_user.id %>
    },
    dataType: "JSON",
    method: 'delete',
    async: false
  }).success( function( data ){
    // console.log(data)
    getCart( cartID )
  } );
}

  var getCart = function( id ){
    $.ajax({
      url: "/carts/" + id ,
      dataType: "JSON",
      method: 'get'
    }).success(function( d ) {
      // console.log( d );
      renderItems( d );
    });
  }

getCart( cartID )

  var renderItems = function( d ){
    var row = $('<div></div>');
    $(row).append( '<hr>' );
    var total = 0;
    d.cart.cartItems.forEach( function( item ){
      console.log( item );
      // debugger
      total += item.quantity * item.productPrice;
      $(row).append(
        '<p>Item: <span class="itemName" >' + item.productName + "</span>" +
        " | Quantity: <span class='quantityName' >" +item.quantity + "</span>" +
        " | Price: <span class='cartPrice' >$" + ( item.quantity * item.productPrice ).toFixed(2) + "</span>" +
        ' | <a class="cartButton" data-id="' + item.cartProductId + '" href="add_item">Add</a>' +
        ' | <a class="cartButton" data-id="' + item.cartProductId + '" href="remove_item">Remove</a>' +
        ' | <a class="cartButton" data-id="' + item.cartItemId + '" href="delete_item">Delete</a>' +
       '</p>' );
    });
    // debugger
    $(row).append( '<hr>' );
    $(row).append( '<p>Total: $' + total.toFixed(2) + '</p>');
  $('.items').html(row);
};

// $(document).ready(function(){
//   $('.cartButton').on("click", function(e){
//     debugger
//     console.log( e )
//     console.log("Ping.")
//       getCart( cartID );
//   });
// });

// $('.cartButton').on("click", function( e ){
//   e.preventDefault();
//   console.log( $( this ).text )
//   alert();
// })

// var getVal = function(  ){
//   // e.preventDefault();
//   debugger
//   console.log( $( this ).text() )
//   alert();
// }


document.querySelector('body').addEventListener('click', function(event) {
  if (event.target.tagName.toLowerCase() === 'a') {
    // debugger
    // event.preventDefault();
    var $el = $( event.target )
    // debugger
    switch( $el.text() ){
      case "Add":
        event.preventDefault();
        addItem( $el.data("id") );
        break;
      case "Remove":
        event.preventDefault();
        removeItem( $el.data("id") );
        break;
      case "Delete":
        event.preventDefault();
        if (confirm("Are you sure?") == true) {
          deleteItem( $el.data("id") );
          break;
        } else {
          return;
        }
      default:
        break;
    }
  }
});

// window.setInterval(function(){
// }, 1000);




</script>
