<div class="container">
  <p id="notice"><%= notice %></p>

<h1>Carts</h1>
<h5>Active:</h5>
<hr>

<table>
  <thead>
    <tr>
      <th>Completed</th>
      <th>Items</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @incomplete_carts.each do |cart| %>
      <tr>
        <td><%= cart.purchase_completed %></td>
        <td><%= cart.cart_items.count %></td>
        <td><%= link_to 'Show', cart %></td>
        <td><%= link_to 'Delete', cart, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="completed_carts">
  <h5>Completed:</h5>
  <hr>
  <% @completed_carts.each do |cart| %>
    <table>
      <thead>
        <tr>
          <th>Completed</th>
          <th>Items</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @incomplete_carts.each do |cart| %>
          <tr>
            <td><%= cart.purchase_completed %></td>
            <td><%= cart.cart_items.count %></td>
            <td><%= link_to 'Show', cart %></td>
            <td><%= link_to 'Delete', cart, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>

</div>
