<!DOCTYPE html>
<html>
  <head>
    <title>TestApp1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav>
    <div class="nav-wrapper">
      <a id="logo-container" href=<%= root_path %> class="brand-logo left" style="height: 100%;">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    height="100%" viewBox="0 0 500 500" enable-background="new 0 0 500 500" xml:space="preserve">
          <path fill="#E61E25" stroke="#000000" stroke-miterlimit="10" d="M481.286,267.529c-0.128-4.008-0.23-8.475-0.45-12.756
            c-0.346-6.731-1.992-20.454-2.454-23.306c-3.302-20.395-12.166-39.489-22.15-57.219c-29.928-53.132-81.211-67.165-138.369-41.572
            c-16.325,7.31-32.495,15.679-49.704,20.129c-8.812,2.279-20.652-1.264-29.518-5.356c-10.357-4.779-19.39-12.558-28.253-19.863
            c-24.394-20.106-51.815-21.886-80.999-12.892c-53.245,16.41-109.382,79.01-107.574,141.671
            c1.718,59.484,22.797,109.354,61.219,153.569c19.674,22.646,41.333,44.186,64.736,63.264c27.475,22.397,40.245,21.77,69.021,0.978
            c13.474-9.734,26.472-8.798,40.55-4.439c10.104,3.13,19.848,7.305,29.945,10.458c22.297,6.968,43.51,3.759,62.147-9.376
            c64.555-45.486,110.872-102.799,129.452-177.735C479.858,289.158,481.521,274.916,481.286,267.529z M351.552,341.422
            c-19.603,25.725-44.04,46.001-72.238,61.765c-18.657,10.431-37.159,10.72-55.477-0.472c-25.377-15.506-49.043-33.28-67.272-57.113
            c-24.639-32.215-32.806-68.803-23.074-108.139c9.119-36.856,46.713-52.563,80.431-35.186c14.263,7.351,22.28,15.365,38.818,38.717
            c6.716-7.939,12.418-16.322,19.7-22.958c17.268-15.733,37.716-23.34,60.989-17.649c26.758,6.543,39.487,26.425,44.315,52.015
            C384.158,286.394,371.506,315.234,351.552,341.422z"/>
          <path id="XMLID_1_" fill-rule="evenodd" clip-rule="evenodd" fill="none" stroke="#000000" stroke-miterlimit="10" d="
            M252.739,240.994c6.716-7.939,12.418-16.322,19.7-22.958c17.268-15.733,37.716-23.34,60.989-17.649
            c26.758,6.543,39.487,26.425,44.315,52.015c6.414,33.991-6.238,62.832-26.192,89.02c-19.603,25.725-44.04,46.001-72.238,61.765
            c-18.657,10.431-37.159,10.72-55.477-0.472c-25.377-15.506-49.043-33.28-67.272-57.113c-24.639-32.215-32.806-68.803-23.074-108.139
            c9.119-36.856,46.713-52.563,80.431-35.186C228.184,209.628,236.201,217.642,252.739,240.994z"/>
          <path fill-rule="evenodd" clip-rule="evenodd" fill="none" stroke="#000000" stroke-miterlimit="10" d="M365.801,6.071
            c-2.364,20.188-3.652,40.555-7.337,60.525c-6.236,33.819-22.783,44.746-58.345,40.404c-13.612-1.663-27.175-3.706-42.333-5.792
            c-2.124-10.328-5.299-21.59-6.611-33.054c-2.642-23.013,13.362-40.061,38.744-43.934c17.484-2.668,34.838-6.243,52.109-10.034
            c1.324-0.292,8.451-2.477,10.577-3.736c1.426-0.846,11.283-4.622,13.059-4.692C366.021,5.742,365.443,6.085,365.801,6.071z"/>
          <path fill-rule="evenodd" clip-rule="evenodd" fill="none" stroke="#000000" stroke-miterlimit="10" d="M259.371,148.957
            c-23.48-39.752-46.961-79.502-71.084-120.34c-0.311-0.525-0.898-2.658-0.56-3.61c0.203-0.57,0.462-1.187,0.738-1.751
            c0.125-0.256,0.911-1.344,1.349-1.729c0.619-0.542,1.319-1.079,1.456-1.158c1.49-0.859,3.147-1.815,4.931-2.844
            c0.487-0.281,2.169-0.778,3.58-0.872c0.568-0.038,2.125,0.359,2.456,0.491c0.394,0.156,0.789,0.324,1.174,0.497
            c1.568,0.702,4.106,2.817,4.506,3.292C239.642,58.527,253.261,102.285,259.371,148.957z"/>
        </svg>
      </a>
      <ul id="nav-mobile" class="right">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Products', products_path %> </li>
          <% if @current_user %>
          <li><%= link_to 'Profile', user_path( @current_user ) %></li>
          <li><%= link_to "Logout #{@current_user.email}", login_path, :method => :delete %></li>
          <% else %>
            <li><%= link_to 'Login', login_path %></li>
          <% end %>

          <% if @current_user %>
            <li><%= link_to 'Cart', carts_path %></li>
          <% else %>
            <li><%= link_to 'Cart', login_path %></li>
          <% end %>
      </ul>
    </div>
  </nav>

    <% if flash %>
      <div class="flash"><%= flash[:error] %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
