<!DOCTYPE html>
<html>
  <head>
    <title>TestApp1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav>
    <div class="nav-wrapper">
      <!-- <a href="#" class="brand-logo">Logo</a> -->
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Products', products_path %> </li>
          <% if @current_user %>
          <li><%= link_to 'Profile', user_path( @current_user ) %></li>
          <li><%= link_to "Logout #{@current_user.email}", login_path, :method => :delete %></li>
          <% else %>
            <li><%= link_to 'Login', login_path %></li>
          <% end %>

          <% if @current_user %>
            <li><%= link_to 'Cart', carts_path %></li>
          <% else %>
            <li><%= link_to 'Cart', login_path %></li>
          <% end %>
      </ul>
    </div>
  </nav>

    <% if flash %>
      <div class="flash"><%= flash[:error] %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
